@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 99%;
    --foreground: 220 43% 11%;

    --card: 0 0% 99%;
    --card-foreground: 220 43% 11%;

    --popover: 0 0% 99%;
    --popover-foreground: 220 43% 11%;

    --primary: 256 78% 69%;
    --primary-foreground: 0, 0%, 99.3%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 220 17% 93%;
    --input: 220 17% 93%;
    --ring: 220 17% 93%;
    --hover: #00000010;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji";
}

@layer utilities {
  .row {
    @apply flex items-center;
  }

  .col {
    @apply flex flex-col;
  }

  .spacing-row {
    @apply flex items-center justify-between;
  }

  .centered-row {
    @apply flex items-center justify-center;
  }

  .centered-col {
    @apply flex flex-col items-center justify-center;
  }

  .fit {
    @apply h-fit w-fit;
  }

  .center-position {
    @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
  }
}

@layer components {
  .vr {
    @apply mx-1 h-full w-[1px] bg-primary/20;
  }

  .hr {
    @apply my-1 h-[1px] bg-primary/20;
  }

  .error {
    @apply ml-2 text-xs text-red-600;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
